* {
  color:rgb(48, 48, 48);
  list-style-type: none;
}

body{
  background-image: url(../img/recipeBG_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(240, 255, 255, 0.50);
  padding: 20px;
}

.navbar {
  background-color: rgba(240, 255, 255, 0.855);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 10px;
}

.navbar ul li {
  font-size: 1rem;
  padding: 10px 60px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  transition: all .5s ease;
}

.navbar ul li a:hover {
  background-color: black;
  color: white;
  padding: 10px;
}