* {
  color:rgb(48, 48, 48);
  list-style-type: none;
}

body{
  background-image: url(../img/recipeBG_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  background-color: rgba(240, 255, 255, 0.75);
  padding: 20px;
  font-weight: 600;
  text-align: center;
  z-index: -1;
}

.container li {
  margin-right: 50px;
}

.navbar {
  background-color: rgba(231, 115, 38, 0.798);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  font-weight: 400;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 10px;
}

.navbar ul li {
  font-size: 1rem;
  padding: 10px 60px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-weight: 400;
  transition: all .5s ease;
}

.navbar ul li a:hover {
  background-color: black;
  color: white;
  padding: 5px;
}

label {
  display: grid;
  
}

input {
  display: flex;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bottom_nav a {
  margin: 10px;
}

#add_recipe_btn {
  margin: 10px;
}

textarea {
  resize: vertical;
  width: 240px;
}