@{
  Layout="_Layout";
}

<h1>Welcome to a delicious Recipe Box</h1>

<h3>Here you can save, and store recipes with various categorical tags.</h3>

<hr />

@if(User.Identity.IsAuthenticated)
{
  <p>Welcome to Flavor Town</p>
  <p>@Html.ActionLink("Recipes", "Index", "Recipes")</p>
  <p>@Html.ActionLink("Cuisines", "Index", "Tags")</p>
}
else
{
  <p>Please log in using the NAV BAR</p>
}