@{
  Layout="_Layout";
}

@model RecipeBox.Models.Tag

<h2>Not feeling this cuisine?</h2>

@Html.DisplayNameFor(model => model.Cuisine): @Html.DisplayFor(model => model.Cuisine)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}



<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Cuisine List", "Index")</p>