@{
  Layout="_Layout";
}

@using RecipeBox.Models;

<h1>Cuisine Tags</h2>

@if (@Model.Count == 0)
{
  <h3>You'll need to add a new cuisine tag</h3>
}
else
{
  <ul>
    @foreach (Tag tag in Model)
    {
    <li>@Html.ActionLink($"{tag.Cuisine}", "Details", new{ id = tag.TagId })</li>
    }
    </ul>
}
<hr />
<div class="bottom_nav">
<p>@Html.ActionLink("Recipe List", "Index", "Recipes") |  @Html.ActionLink("Add a Cuisine", "Create")</p>
</div>

