@{
  Layout = "_Layout";
}

<hr/>
  <h2>Account</h2>
<hr />

@if(User.Identity.IsAuthenticated)
{
  <p>Welcome to Flavor Town @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger" value="Log out"/>
  }
}
else
{
  <p>Become a resident of Flavor Town by creating a new account or go back to the Homepage.</p>
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>or</p>
  <p>@Html.ActionLink("Log In", "Login")</p>
}