@{
  Layout = "_Layout";
}

<nav class="navbar">
  <ul> 
    <li>@Html.ActionLink("Register a new Account", "Register") </li>
    <li>@Html.ActionLink("Return to Homepage", "Index","Home")</li>
  </ul>
</nav>
  <hr/>
  <h2>Authentication with Identity</h2>
  <p>Become a resident of Flavor Town by creating a new account or go back to the Homepage.</p>
  <hr />
